<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liyaan.mynew">
    <queries>
        <package android:name="com.liyaan.mynew" />
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:name="com.liyaan.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DownloadAidlActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JniDemoActivity"></activity>
        <activity android:name=".GlideActivity"></activity>
        <activity android:name=".RecyclerViewActivity"></activity>
        <activity android:name="com.liyaan.intentService.IntentServiceActivity"></activity>
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="com.liyaan.mynew.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadActivity"></activity>
        <activity android:name="com.liyaan.onedownload.DownDenoActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".OneSelfViewActivity"></activity>
        <activity android:name="com.liyaan.mvvm.MvvmActivity"></activity>
        <service android:name=".DownloadService"></service>
        <service android:name="com.liyaan.intentService.MyIntentService"></service>
        <service android:name=".DownloadAidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidlService">
            <intent-filter>
                <action android:name="com.liyaan.mynew.downaction"/>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </service>
<!--        <service android:name="com.liyaan.mvvm.net.ui.activity.MvvmMainActivity"-->
<!--            tools:ignore="Instantiatable"></service>-->
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"></meta-data>
        </provider>

        <service android:name=".BookInfoService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl">
            <intent-filter>
                <action android:name="com.liyaan.mynew.action"/>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </service>
    </application>

</manifest>